[defaults]
inventory = inventories/
host_key_checking = False
retry_files_enabled = False
timeout = 30
log_path = ./ansible.log
stdout_callback = yaml
callback_whitelist = profile_tasks
deprecation_warnings = False
interpreter_python = auto_silent
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 600

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=~/.ssh/ansible-%r@%h:%p
control_path = ~/.ssh/ansible-%%h-%%p-%%r

[galaxy]
server_list = galaxy, github

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/

[galaxy_server.github]
url = https://github.com/

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[persistent_connection]
connect_timeout = 30
connect_retries = 3
connect_interval = 1
